@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

.editor {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  line-height: 1.5;
}

.titleEditor {
  font-size: 1.5em;
  margin: 20px 0;
}