$toolbar-color: #464646;

.toolbar {
  z-index: 100;
  display: none;
  position: absolute;
  text-align: center;
  color: #fff;

  &.open {
    display: flex;
    flex-direction: column;
  }
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: $toolbar-color;
}

.footer {
  display: flex;
  align-content: center;
}

.arrow {
  align-self: center;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: $toolbar-color transparent transparent transparent;
}

.icon {
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  flex: 1;
}